<!DOCTYPE html>
<html>
<head>
    <title>MEDIA SHARE</title>
</head>
<body>
    <h1>MEDIA SHARE</h1>
    <form id="addForm" action="/add" method="post">
        <label for="url">Enter a YouTube video URL:</label><br>
        <input type="text" id="url" name="url"><br>
        <input type="submit" value="Add to playlist">
    </form>
    <form action="/skip" method="post">
        <input type="submit" value="Skip current song">
    </form>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $('#addForm').submit(function(e) {
            e.preventDefault();
            $.post('/add', $(this).serialize(), function(data) {
                alert(data);
            });
        });
    </script>
</body>
</html>
